// RNA-SEQ DCNL PIPELINE CONFIGURATIONS

// THIS IS THE PLACE YOU WILL NEED TO MAKE CHANGES TO RUN THIS PIPELINE ON YOUR HPC ENVIRONMENT

process { 

    // Cluster configuration for jobs that require a lot of memory
    withLabel: big_mem {
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 16 --mem 480G'
        }

    // Cluster configuration for jobs that require normal ammounts of memory
    withLabel: regular {
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 12 --mem 100G'
        }


}


// Set executor to slurm with maximum job queue of 50
executor {

    name="slurm"
    queueSize = 50
}


// Set the pipeline container as a singularity container and specify path to it
singularity {
    
    enabled = true
    process.container = './singularity/dcnl_illumina_rna_seq.sif'   
}
