// RNA-SEQ DCNL PIPELINE CONFIGURATIONS

// THIS IS THE PLACE YOU WILL NEED TO MAKE CHANGES TO RUN THIS PIPELINE ON YOUR HPC ENVIRONMENT

process { 

    // Cluster configuration for jobs that require a lot of memory
    withLabel: big_mem {
        clusterOptions='--partition <partition_name> --time <5 Hours> --account <account_name> --nodes <# of nodes> --ntasks <# of tasks> --mem <400+G>'
        }

    // Cluster configuration for jobs that require normal ammounts of memory
    withLabel: regular {
        clusterOptions='--partition <partition_name> --time <5 Hours> --account <account_name> --nodes <# of nodes> --ntasks <# of tasks> --mem <100+G>'
        }


}


// Set executor to slurm with maximum job queue of 50
executor {

    name="slurm"
    queueSize = 50
}


// Set the pipeline container as a singularity container and specify path to it
singularity {
    
    enabled = true
    process.container = './singularity/dcnl_illumina_rna_seq.sif'   
}
